.dsa {

    display: grid;
    grid-template-columns: repeat(2, min-content);
    column-gap: 10px;

    &__colors, &__strokes {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 5px;

        background-color: #ffffff;
        border: 1px solid #6B2D5C;
        border-radius: 8px; 
        padding: 10px;
    }

    .circle-btn {
        height: 40px;
        width: 40px;

        border-radius: 50%;
        border: none;
    }

    .stroke {
        background-color: black;
        border: none;
    }
}