.draw {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__save {
        background-color: #6B2D5C;
        color: #ffffff;
    }

    &__reset {
        background-color: #ffffff;
        border-color: #6B2D5C;
        color: #6B2D5C;
    }

    &__actions {
        width: 100%;
        display: grid;
        grid-template-columns: min-content min-content;
        justify-content: space-around;
    }



    &__buttons {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        column-gap: 10px;
    }


}