.draw {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__actions {
        width: 100%;
        display: grid;
        grid-template-columns: min-content min-content;
        justify-content: space-around;
    }
}

.panel {
        background-color: #ffffff;
        border: 1px solid #6B2D5C;
        border-radius: 8px; 
        padding: 10px;
        align-items: center;
}

