.auth {
    flex: 1;
    background-color: #292424;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container {
        display: grid;
        grid-template-rows: min-content 1fr;
        align-content: center;
        justify-items: center;
        row-gap: 20px; 

        padding: 40px 30px;
        background-color: #ffffff;
        border-radius: 8px;

        height: 650px;
    }

    &__btn {
        text-align: right;
    }

    &__error {
        color: red;
    }

    .sel {
        font-weight: bold;
    }

    .subtitle {
        text-align: center;
    }

    @media (min-width: 640px) {
        padding: 0 0px;
        
        &__body {
            width: 420px;
        }
    }
    
    @media (min-width: 768px) {
        
    }
    
    @media (min-width: 1024px) {
    }
    
    @media (min-width: 1280px) {
    }
}