.auth {
    flex: 1;

    display: grid;
    grid-template-rows: 1fr 2fr;
    align-content: center;
    justify-items: center;
    row-gap: 20px;

    background-color: #ffffff;

    &__header{
        align-self: end;
    }

    &__body {
        width: 100%;
        padding: 0 20px;
    }

    &__btn {
        text-align: right;
    }

    &__error {
        color: red;
    }

    .sel {
        font-weight: bold;
    }

    .subtitle {
        text-align: center;
    }
}