.auth {
    flex: 1;

    display: grid;
    grid-template-rows: 1fr 2fr;
    align-content: center;
    justify-items: center;
    row-gap: 20px;

    background-color: #ffffff;

    &__header{
        align-self: end;
    }

    &__body {
        width: 100%;
        padding: 0 20px;
    }

    .brand-green {
        color: #2ddab0;
    }

    .brand-pink {
        color: #fa73ac;
    }

    .sel {
        font-weight: bold;
    }

    .subtitle {
        text-align: center;
    }
}

.form-field {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    row-gap: 5px;

    margin-bottom: 10px;
}