.dsa {

    display: grid;
    grid-template-columns: repeat(3, min-content);
    column-gap: 10px;

    &__colors, &__strokes {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 5px;
    }

    .circle-btn {
        height: 40px;
        width: 40px;

        border-radius: 50%;
        border: none;
    }

    .stroke {
        background-color: black;
        border: none;
        padding: 0;
    }
}