.dga {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    column-gap: 10px;

    &__buttons, &__privacy {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        column-gap: 10px;
    }

    &__save {
        background-color: #2ddab0;
        color: #ffffff;
    }

    &__reset {
        background-color: #ffffff;
        border-color: #2ddab0;
        color: #2ddab0;
    }

    
}