//////////////////////////////
// GENERAL GLOBAL SELECTORS //
//////////////////////////////
* {
    box-sizing: border-box;
}

body {
    // CRA boiler plate.
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #E2C290;

    // font-family: $font-family__primary;
    // font-size: $font-size__body;
}

.brand-link {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.brand-btn {
    padding: 15px 15px;
    border-radius: 8px; 

    border: none;
    outline: none;

    border: 1px solid #ffffff00;
}